@using Uppgift1Blogg.Models
@model Uppgift1Blogg.ViewModel.BlogPostsInfo

<div class="row">
    <!-- Blogg post -->
    <div class="col-8 main">
        <h1 class="text-center">@Model.BlogPost.Header</h1>
        <p class="pt-2">@Model.BlogPost.Content</p>
        <div class="text-center pt-2">
            <a asp-controller="Blog" asp-action="Index" class="btn btn-dark">Tillbaka till bloggen</a>
        </div>
    </div>
    <!-- //blogg post-->

    <!-- Lista över kategorier -->
    <div class="col-sm-4 d-none d-sm-block categories">
        <div class="text-center pb-3">
            <img src="~/images/profil.jpg" class="img-thumbnail profilePic" alt="profil bild"/>
        </div>

        <h3 class="pl-2 mx-2">Kategorier</h3>
        <ul>
            <li class="pt-1"><a asp-controller="Blog" asp-action="Index" asp-route-id="">Alla inlägg</a></li>
            @foreach (Category category in @Model.Categories)
            {
                <li class="pt-1"><a asp-controller="Blog" asp-action="Index" asp-route-id="@category.Id">@category.Name</a></li>
            }
        </ul>
    </div>
    <!-- //kategorier -->
</div>